@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.home-paragraphs {
    text-align: center;
}

.home-paragraphs p {
    font-family: "Poppins", sans-serif;
    font-weight: semibold;
    font-size: 18px;
}

.home-gender {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px;
}

.home-gender button {

}

.home-paragraphs h3 {
    margin: 10px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
}